:root {
	--button-shadow: #1d1d1d;
	--cardshadow-color: #141414;
	--cardshadow-color2: #9f9f9f;
	--bg-color: #000000;
	--fg-color: white;
    --logo-color:#e1e1e1;
    --blend-mode : color-dodge;
    --card-border-color : #ffffff2c;
}

body {
	overflow-x: hidden;
	background-color: var(--bg-color);
	color: var(--fg-color);
}

#root{
    z-index: 5;
    backdrop-filter: blur(100px);
}

.darktheme {
	background-color: transparent;
	color: var(--fg-color);
}

.themeimage {
	animation: anim 1.5s;
}

@keyframes anim {
	100% {
		transform: rotate(1080deg);
	}
}

.themeimage2 {
	animation: anim1 1.5s;
}

@keyframes anim1 {
	100% {
		transform: rotate(-1080deg);
	}
}

.cardshadow {
	border-radius: 12px;
    border: 1px solid var(--card-border-color);
}

.imgradius {
	border-radius: 12px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.buttonradius {
	border-radius: 8px;
}

.buttoncss {
	display: flex;
	justify-content: flex-end;
	background-color: transparent;
	border: none;
}

.name {
	font-size: 35px;
	position: absolute;
	letter-spacing: 5px;
	z-index: 4;
	top: 15px;
	left: 17px;
	/* color: rgb(255, 210, 210); */
	color: var(--logo-color);
	pointer-events: none;
	user-select: none;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	width: 100%;
	height: 100%;
	mix-blend-mode: var(--blend-mode);
}

#circle {
	width: 200px;
	background-image: linear-gradient(#ff00ff, #00ffff);
	aspect-ratio: 1;
	position: absolute;
	z-index: -4;
	left: 50%;
	right: 50%;
	translate: -50% -50%;
	border-radius: 50%;
	animation: rotate 3s linear infinite;
    display:none;
}

#topRight{
    width: 200px;
	background-image: linear-gradient(#ff00ff, #00ffff);
	aspect-ratio: 1;
	position: absolute;
	z-index: -4;
	top: 9%;
	right: -11%;
	translate: -50% -50%;
	border-radius: 50%;
	animation: rotate 3s linear infinite;
}

@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}

.topLoadingBar{
    position: fixed;
    background-color: red;
    height: 3px;
    z-index: 9999;
    width: 20%;
    transition: width 1s;
}

.badgecss{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    right: 0px;    
    top: -8px;
}

.testing:hover{
    color: #00ffff;
    transition: all 500ms;
}
.testing1:hover{
    color: #ff00ff;
    transition: all 500ms;
}

.badgecolor{
    color: white;
}

.hruler{
    height: 2px;
    background-color: var(--card-border-color);
    border:none;
}












